---
import {Image} from 'astro:assets';

const {url, title, description, imgsrc} = Astro.props;
---
<div class="post-container">
    <Image
        src={imgsrc}
        alt="Image of a printed circuit board"/>
    <div class="post-card">
        <h3>{title}</h3>
        <p>{description}</p>
        <a href={url}>More details here!</a>
    </div>
<div>
